<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="breed" placeholder="breed">
      <input type="text" name="age" placeholder="age">
      <input type="submit" id="submit" name="submit">
    </form>
  </body>
</html>
