<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The new Pup</h1>
    <%= "Name: #{@puppy.name} Breed: #{@puppy.breed} Age: #{@puppy.age}" %>

  </body>
</html>
